<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="/global.css">
    <link rel = "stylesheet" href = "/friends.css">
</head>
<body>
    <div class="header-flex">
        <div class="logo">
            <a href="/">
            <img src="/logo.png" width="300px" alt="Logo">
            </a>
        </div>

        <ul class="navlinks">
            <li><a href="/cars">Our Vehicles</a></li>
            <li><a href="/search">Search a Car</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/reservations">My Reservations</a></li>
            <li>
                <a href="/profile">
                <img src="/profilepicture.png" alt="Profile" width="40px" height="40px" style="border-radius:50%;">
                </a>
            </li>
        </ul>
    </div>

    <h2 class="friendsheader">Reviews from your Friends</h2>
        <div class="boxcontainer">
        <div class="boxfriends">
            <h2> John</h2>
            <h4 >Rented Van </h4>
            <p> Vehicle perfomed exceptionally, no problems encountered, would recommend!</p>
        </div>
        <div class="boxfriends">
            <h2> Josie</h2>
            <h4>Rented SUV</h4>
            <p> Very comfortable and spacious, it felt like I was driving a hyper-futuristic vehicle.</p>
        </div>

        <div class="boxfriends">
            <h2> Jeremy</h2>
            <h4>Rented Van</h4>
            <p> Encountered some problems such as a flat tire upon picking-up the vehicle, other than that, a very smooth experience!</p>
        </div>

        <br><h2 class="friendsheader">Reviews from other People</h2>

        <div class="boxfriends">
            <h2> James</h2>
            <h4>Rented Van</h4>
            <p> Was able to fit my entire family hahahahahhahahahahah very nice</p>
              <br>
            <button class="addfriend">Add Friend</button>
        </div>

        <div class="boxfriends">
            <h2> Jake!</h2>
            <h4>Rented Sedan</h4>
            <p> 10/10 would rent again </p>
            <br>
            <button class="addfriend">Add Friend</button>
        </div>

    </div>

    <footer>
        <div class="footerContainer">
            <p> This is an MCO project for GDAPDEV XX22 by Group 4. </p>
            <a href="/contact-us" class="disable-link"> Contact Us</a>
        </div>
    </footer>

    </div>
</body>
</html>